@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

.full-size-image-view {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    height: 100vh;
    position: fixed;
    inset:  0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.full-size-image-view img {
    height: 60%;
    width: 80%;
}

.close-full-size-view {
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 2rem;
    top: 2.5rem;
}

.close-full-size-view:hover {
    cursor: pointer;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gallery-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.animal-details > * {
  display: none;
}

.image-info {
    position: relative;
}

.image-info:hover {
    cursor: pointer;
}

.animal-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animal-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.image-info:hover .animal-image img{
    filter: grayscale();
    transform: scale(1.1);
  }

  .image-info:hover .animal-details {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 500px) {
    .full-size-image-view img {
        height: 80%;
        width: auto;
    }
}

@media only screen and (min-width: 1024px) {
    #gallery-container {
        width: 90%;
        margin: 0 auto;
        height: 60%;
    }

    .animal-details {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff; 
        padding: 1rem 0 2rem 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    .animal-details > * {
        display: block;
        padding: 0;
        margin: 0;
    }

    .animal-name, 
    .animal-species {
         font-weight: bold;
         font-size: 1.3rem;
         line-height: 38px;
    }

    .animal-location {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
        line-height: 16px;
        font-weight: 400;
    }

    .know-more-btn {
       display: none;
       background-color: transparent;
       color: rgb(0, 225, 255);
       border: 1px hidden;
       justify-content: flex-start;
       gap: 10px;
       align-items: center;
       width: 10rem;
       background-color: transparent;
       font-size: 1rem;
    }

    .know-more-btn {
        cursor: pointer;
    }

    .image-info:hover .know-more-btn {
       display: flex;
    }

    .image-info:hover .animal-details {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.7);
    }

    .animal-location,
    .know-more-btn {
        margin-top: 10px;
    }

    .close-full-size-view {
        right: 5rem;
    }
}

@media only screen and (min-width: 1440px) {
    #gallery-container {
        width: 80%;
    }

    .animal-details {
        padding-left: 2rem;
    }

    .animal-name, 
    .animal-species {
        font-size: 1.5rem;
    }

    .close-full-size-view {
        right: 10rem;
    }
};



